---
layout: default
title: DuckLake is an integrated data lake and catalog format
subtitle: An integrated data lake and catalog format
description: DuckLake delivers advanced data lake features without traditional lakehouse complexity by using Parquet files and your SQL database. It's an open, standalone format from the DuckDB team.
body_class: landing nowrap
---

<section class="welcome">
	<div class="wrap">
		<div class="ducklake">
			<h1>DuckLake is an integrated data&nbsp;lake and catalog format</h1>
			<p>DuckLake delivers advanced data&nbsp;lake features without traditional lakehouse complexity by using Parquet files and your SQL database. It's an open, standalone format from the DuckDB team.</p>
			<div class="cta">
				<a class="button black" href="{% post_url 2026-04-13-ducklake-10 %}">Read the v1.0 announcement</a>
				<a class="button transparent" href="{% link docs/stable/index.md %}">Visit the documentation</a>
			</div>
		</div>
		<div class="production-users">
			<p>Deployed in production</p>
			<div class="production-users-logos">
				<div class="production-users-track">
					{% for user in site.data.production-users %}
					<img src="{{ site.baseurl }}/images/production-users/{{ user.logo }}" alt="{{ user.name }}">
					{% endfor %}
					{% for user in site.data.production-users %}
					<img src="{{ site.baseurl }}/images/production-users/{{ user.logo }}" alt="{{ user.name }}" aria-hidden="true">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<div class="wave"></div>

<section class="architecture">
	<div class="wrap">
		{% comment %}
		<div class="section-text">
			<h2>DuckLake’s architecture</h2>
			<p>With DuckLake, all you need to run your own data warehouse is a catalog database and storage for Parquet files.</p>
		</div>
		{% endcomment %}
		<div class="illustration">
			<div class="architecture-container">
				<div class="architecture-tabs">
					<ul>
						<div class="select-highlight"></div>
						<li data-iconclass="postgre" data-multi="true" class="active">PostgreSQL</li>
						<li data-iconclass="sqlite" data-multi="true">SQLite</li>
						<li data-iconclass="duckdb" data-multi="false">DuckDB</li>
					</ul>
				</div>
				<div class="diagram">
					<div class="client">
						<div class="client-header">
							<svg class="icon"><use href="#terminal-browser"></use></svg>
							<h4>Client</h4>
						</div>
						<div class="browser-wrap contains-multi">
							<div class="browser">
								<img src="{{ site.baseurl }}/images/deployment_diagram/window.svg" alt="Client Window">
								<div class="broser-content">
									<div class="ducklake">
										<img src="{{ site.baseurl }}/images/deployment_diagram/ducklake_comb.svg" class="ducklake_icon">
									</div>
								</div>
							</div>
							<div class="browser multi">
								<img src="{{ site.baseurl }}/images/deployment_diagram/window.svg" alt="Client Window">
							</div>
						</div>
						<ul class="checklist">
							<li class="multi-item"><svg class="icon"><use href="#check"></use></svg> <span class="multi-label">Multiple clients</span></li>
							<li><svg class="icon"><use href="#check"></use></svg> Works locally or in the cloud</li>
							<li><svg class="icon"><use href="#check"></use></svg> No vendor lock-in</li>
						</ul>
					</div>
					<div class="connector">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 9" fill="none">
						  <path fill="#1A1A1A" d="M50 .5a4 4 0 1 1 0 8 4 4 0 0 1 0-8ZM4 .5a4 4 0 1 1 0 8 4 4 0 0 1 0-8Zm46 4v.75H4v-1.5h46v.75Z" />
						</svg>
					</div>
					<div class="database-storage">
						<div class="ducklake-header">
							<svg class="icon"><use href="#waves"></use></svg>
							<h4>DuckLake</h4>
						</div>
						<div class="database">
							<div class="database-header">
								<svg class="icon"><use href="#database-01"></use></svg>
								<h4>Catalog: <span class="choosen-catalog"></span></h4>
							</div>
							<p>The catalog is served by an ACID-compliant SQL database</p>
							<div class="catalog">
								<img src="{{ site.baseurl }}/images/deployment_diagram/database.svg" alt="Database Icon">
								<div class="icons">
									<img src="{{ site.baseurl }}/images/deployment_diagram/cat_icon-duckdb.svg" class="duckdb">
									<img src="{{ site.baseurl }}/images/deployment_diagram/cat_icon-postgre.svg" class="postgre">
									<img src="{{ site.baseurl }}/images/deployment_diagram/cat_icon-sqlite.svg" class="sqlite">
								</div>
							</div>
						</div>
						<div class="storage">
							<div class="storage-header">
								<svg class="icon"><use href="#server-04"></use></svg>
								<h4>Storage: <span class="choosen-storage">Parquet files</span></h4>
							</div>
							<p>Parquet files can be stored on local disk or in object storage</p>
							<div class="folder">
								<img src="{{ site.baseurl }}/images/deployment_diagram/parquet_folder.svg" alt="Parquet Folder">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="features">
	<div class="wrap">
		<h2>DuckLake’s key features</h2>
		<div class="icon-grid" style="--icon-grid-columns: 4;">
			<div class="icon-grid-item">
				<svg class="icon"><use href="#waves"></use></svg>
				<h3>Data lake operations</h3>
				<p>DuckLake supports snapshots, time travel queries, schema evolution and partitioning.</p>
			</div>
			<div class="icon-grid-item">
				<svg class="icon"><use href="#feather"></use></svg>
				<h3>Lightweight snapshots</h3>
				<p>You can have as many snapshots as you want without frequent compacting steps!</p>
			</div>
			<div class="icon-grid-item">
				<svg class="icon"><use href="#coins-swap-01"></use></svg>
				<h3>ACID transactions</h3>
				<p>DuckLake allows concurrent access with ACID transactional guarantees over multi-table operations.</p>
			</div>
			<div class="icon-grid-item">
				<svg class="icon"><use href="#code-browser"></use></svg>
				<h3>Performance-oriented</h3>
				<p>DuckLake uses statistics for filter pushdown, enabling fast queries even on large datasets.</p>
			</div>
		</div>
	</div>
</section>

<section class="podcast">
	<div class="wrap flexwrap">
		<div class="section-image">
			<div class="video-thumbnail" data-video-id="zeonmOO9jm4">
				<img src="{{ site.baseurl }}/images/thumb_ducklake1-0.png" alt="Thumbnail: In conversation: DuckDB founders on DuckLake">
				<div class="play-button">
					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" fill="none" viewBox="0 0 77 77"><path fill="#ccebff" fill-opacity=".6" d="M38.352 0C17.204 0 0 17.204 0 38.352s17.204 38.352 38.352 38.352S76.704 59.5 76.704 38.352 59.5 0 38.352 0"/><path fill="#009dff" fill-opacity=".6" d="M53.724 37.006 32.576 22.54c-.657-.485-2.41-.485-2.552 1.347v28.928a1.623 1.623 0 0 0 2.552 1.346l21.148-14.464c.548-.329 1.3-1.675 0-2.693"/></svg>
				</div>
			</div>
			<div class="video-container" style="display: none;">
			  <iframe data-src="https://www.youtube.com/embed/7Su0aVzbb-U" title="YouTube video player" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</div>
		<div class="section-text">
			<h2>In conversation: DuckLake&nbsp;v1.0</h2>
			<p>Listen to Mark Raasveldt and Pedro Holanda discuss the road that led<br/>to the DuckLake specification and explain the features of DuckLake&nbsp;v1.0.</p>
		</div>
	</div>
</section>

{% include quick_installation.html %}

<section class="faq">
	<div class="wrap">
		<div class="section-text">
			<h2>Frequently asked questions</h2>
			<p>Do you have any questions about DuckLake? We got you covered.</p>
		</div>
	</div>
	
	<div class="frequentlyaskedquestions">
		<div class="qa-wrap">
			<h3>
				Why should I use DuckLake?
			</h3>
			<div class="answer">
				<p>DuckLake provides a lightweight one-stop solution if you need a data lake and catalog.

				<p>If you use DuckLake from DuckDB, it can unlock a “multiplayer DuckDB” experience with multiple DuckDB instances reading and writing the same dataset –
				a concurrency model <a href="https://duckdb.org/docs/current/connect/concurrency">not supported by vanilla DuckDB</a>.</p>
			</div>
		</div>

		<div class="qa-wrap">
			<h3>
				What is “DuckLake”?
			</h3>
			<div class="answer">
				“DuckLake” can refer to a number of things:

				<ol>
					<li>The <i>DuckLake format</i> that uses a catalog database and a Parquet storage to store data.</li>
					<li>A <i>DuckLake instance</i> storing a dataset with the DuckLake lakehouse format.</li>
					<li>The <a href="{% link docs/stable/duckdb/introduction.md %}"><code>ducklake</code> <i>DuckDB extension</i></a>, which supports reading/writing datasets using the DuckLake format.</li>
				</ol>
			</div>
		</div>


		<div class="qa-wrap">
			<h3>
				Is DuckLake production-ready?
			</h3>
			<div class="answer">
				Yes! We published DuckLake v1.0 in April 2026, which is a production-ready release with guaranteed backward-compatibility.
			</div>
		</div>

		<div class="qa-wrap">
			<h3>
				What is the license of DuckLake?
			</h3>
			<div class="answer">
				The DuckLake specification and the <code>ducklake</code> DuckDB extension are released under the MIT license.
			</div>
		</div>

	</div>
	
	<div class="cta">
		<a class="button black" href="{% link faq.md %}">More FAQs</a>
	</div>
	
</section>
