---
layout: postarchive
title: Blog
excerpt: The blog contains use case descriptions, release announcements, and technical insights about DuckLake.
body_class: blog
---

{% assign all_tags = "" %}
{% for post in site.posts %}
	{% assign all_tags = all_tags | append: post.tags | join: "," | append: "," %}
{% endfor %}
{% assign unique_tags = all_tags | split: "," | uniq | sort %}

<div class="wrap">
	<div class="controls filterbar" data-all-available="{{ unique_tags | join: ', ' }}">
		<input type="text" id="search-input" placeholder="Search...">
		{% comment %}
		<div class="filtertags">
			<div class="filter-highlight"></div>
			<button type="button" class="filter-btn active" data-filter="*">All</button>
			<button type="button" class="filter-btn" data-filter=".using-ducklake">Using DuckLake</button>
			<button type="button" class="filter-btn" data-filter=".tutorial">Tutorials</button>
			<button type="button" class="filter-btn" data-filter=".deep-dive">Deep Dive</button>
			<button type="button" class="filter-btn" data-filter=".release">Releases</button>
		</div>
		{% endcomment %}
	</div>
</div>

<div class="post-list wrap">
	<div class="newstiles">
		{% for post in site.posts %}
			{% assign tag_classes = "" %}
			{% for tag in post.tags %}
				{% assign slugified_tag = tag | slugify %}
				{% assign tag_classes = tag_classes | append: slugified_tag | append: " " %}
			{% endfor %}
			<div class="postpreview {{ tag_classes | downcase }}" data-title="{{ post.title | escape }}">
				<a href="{{ post.url }}" title="{{ post.title }}" class="blocklink"></a>
				<div class="postimg custom">
					{% if post.thumb %}
						<img src="{{ post.thumb }}" alt="{{ post.title }}" class="zoom-image">
					{% else %}
						<img src="/images/blog/thumbs/placeholder.svg" alt="Placeholder" class="zoom-image">
					{% endif %}
				</div>
				<div class="postdetails">
					{% if post.tags %}
					<div class="tags">
						{% for tag in post.tags %}
							<span class="tag">{{ tag }}</span>
						{% endfor %}
					</div>
					{% endif %}
					<h3>{{ post.title }}</h3>
					<div class="meta">
						<div class="date">{{ post.date | date: "%Y-%m-%d" }}</div>
						<div class="author">{{ post.author }}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
