{% if version_viewed != "stable" %}
	{% assign basename = page.path | regex_replace: "docs/(stable|preview|\d*.\d*)/", "" %}
	{% assign stable_filename = "docs/stable/" | append: basename %}
	{% capture stable_exists %}{% file_exists {{ stable_filename }} %}{% endcapture %}
	{% if stable_exists == "true" %}
		{% assign stable_url = stable_filename | replace: ".md", "" %}
		{% assign stable_link_text = "Switch to the stable version" %}
	{% else %}
		{% assign stable_url = "docs/stable/index" %}
		{% assign stable_link_text = "Switch to the stable documentation" %}
	{% endif %}
	{% if version_viewed == "preview" %}
		{% assign banner_class = "preview" %}
		{% assign banner_icon = "beaker-02" %}
		{% capture banner_text %}This page is for DuckLake {{ site.preview_ducklake_version }} (preview).{% endcapture %}
	{% else %}
		{% assign banner_class = "outdated" %}
		{% assign banner_icon = "alert-octagon" %}
		{% capture banner_text %}This page is for DuckLake {{ version_viewed }}, which is outdated.{% endcapture %}
	{% endif %}
	<div class="banner docversion {{ banner_class }}">
		<div class="content">
			<svg class="icon"><use href="#{{ banner_icon }}"></use></svg>
			<span>{{ banner_text }} <a href="{{ site.baseurl }}/{{ stable_url }}">{{ stable_link_text }}</a>.</span>
		</div>
	</div>
{% endif %}
