<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div class="footernavigation">
				<div>
					<h6>Documentation</h6>
					<a href="{% link manifesto/index.md %}" target="_blank">Manifesto</a><br/>
					<a href="{% link docs/stable/specification/introduction.md %}">Specification</a><br/>
					<a href="{% link docs/stable/duckdb/introduction.md %}">DuckLake DuckDB extension</a><br/>
				</div>
				<div>
					<h6>DuckDB</h6>
					<a href="https://duckdb.org/">DuckDB home</a><br/>
					<a href="https://duckdb.org/docs/installation/">DuckDB installation</a><br/>
				</div>
				<div>
					<h6>Development</h6>
					<a href="https://github.com/duckdb/ducklake/issues" target="_blank">Issues</a><br/>
					<a href="https://github.com/duckdb/ducklake/discussions" target="_blank">Discussions</a>
				</div>
			</div>
			<div class="footerlogo ducklake_logo"></div>
			<div class="bottomline">
				<div>© {{ "now" | date: "%Y" }} DuckDB Foundation</div>
			</div>
		</div>
	</div>
</footer>
