<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div class="footernavigation">
				<div>
					<p class="footer-title">Documentation</p>
					<a href="{% link docs/stable/specification/introduction.md %}">Specification</a><br/>
					<a href="{% link docs/stable/duckdb/introduction.md %}">DuckDB Extension</a><br/>
				</div>
				<div>
					<p class="footer-title">DuckDB</p>
					<a href="https://duckdb.org/">DuckDB Home</a><br/>
					<a href="https://duckdb.org/install/">DuckDB Installation</a><br/>
				</div>
				<div>
					<p class="footer-title">Resources</p>
					<a href="{% link manifesto/index.md %}">Manifesto</a><br/>
					<a href="{% link news/index.html %}">Blog</a><br/>
					<a href="{% link media/index.html %}">Media</a><br/>
					<a href="{% link faq.md %}">FAQ</a><br/>
				</div>
				<div>
					<p class="footer-title">Development</p>
					<a href="https://github.com/duckdb/ducklake/issues" target="_blank">Issues</a><br/>
					<a href="https://github.com/duckdb/ducklake/discussions" target="_blank">Discussions</a><br/>
					<a href="{% link release_calendar.md %}">Release Calendar</a><br/>
					<a href="{% link roadmap.md %}">Roadmap</a>
				</div>
			</div>
			<div class="footerlogo ducklake_logo"></div>
			<div class="bottomline">
				<div>© {{ "now" | date: "%Y" }} DuckDB Foundation</div>
			</div>
		</div>
	</div>
</footer>

<div class="svg-sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; visibility: hidden;">
	{% include icons.html %}
</div>