<section id="quickinstall">
    <div class="wrap">
        <div class="section-text">
            <h2>Create your first DuckLake with DuckDB</h2>
            <p>DuckDB provides first-class support for DuckLake through its highly portable extension, running wherever DuckDB does.</p>
            <!--<a href="/docs/installation/" class="button transparent">More installation options</a>-->
        </div>
        <div class="install">
            <div class="window">
                <div class="topbar environment">
                    <ul>
                        <div class="select-highlight"></div>
                        <li data-client="duckdb" class="active">DuckDB</li>
                        <li data-client="sqlite">SQLite</li>
                        <li data-client="postgresql">PostgreSQL</li>
                        <li data-client="mysql">MySQL</li>
                    </ul>
                    <div class="hoverlabel">&#8592; Choose catalog database</div>
                </div>
                
                <div class="result content">
{% highlight sql %}
INSTALL ducklake;

ATTACH 'ducklake:metadata.ducklake' AS my_ducklake;
USE my_ducklake;
{% endhighlight %}
                </div>
                
    </div>
</section>

<section class="hidden">
    
<div id="quick-installation">

<div data-install="duckdb">
{% highlight sql %}
INSTALL ducklake;

ATTACH 'ducklake:metadata.ducklake' AS my_ducklake;
USE my_ducklake;
{% endhighlight %}
</div>

<div data-install="postgresql">
{% highlight sql %}
INSTALL ducklake;
INSTALL postgres;

-- Make sure that the database `ducklake_catalog` exists in PostgreSQL.
ATTACH 'ducklake:postgres:dbname=ducklake_catalog host=your_postgres_host' AS my_ducklake
     (DATA_PATH 'data_files/');
USE my_ducklake;
{% endhighlight %}
</div>

<div data-install="sqlite">
{% highlight sql %}
INSTALL ducklake;
INSTALL sqlite;

ATTACH 'ducklake:sqlite:metadata.sqlite' AS my_ducklake
    (DATA_PATH 'data_files/');
USE my_ducklake;
{% endhighlight %}
</div>

<div data-install="mysql">
{% highlight sql %}
INSTALL ducklake;
INSTALL mysql;

-- Make sure that the database `ducklake_catalog` exists in MySQL
ATTACH 'ducklake:mysql:db=ducklake_catalog host=your_mysql_host' AS my_ducklake
    (DATA_PATH 'data_files/');
USE my_ducklake;
{% endhighlight %}
</div>

</div>

</section>
